body {
   Font-Family: 'Libre Franklin', Sans-Serif;
   font-weight: 200;
   font-style: normal;
   background-color: #fafafa;
   width: 100%;
   margin: 0;
   color: #616161;
}

.navigation {
  width: 100%;
  text-align: center;
  background-color:#ffebee;
  height: 55px;
  box-shadow: grey 0px 1px 8px;
  position:sticky;
  top:0;
}

.nav-link {
  text-decoration: none;
  margin: 20px;
  display: inline-flex;
  color: #616161;
}

.nav-link:hover {
  color: cadetblue;
}

.header {
   margin: auto;
   width: 90%;
   text-align: center;
   Font-Family: 'Raleway', Sans-Serif;
   font-weight: lighter;
}

.footer {
    margin-top: 25px;
    width: 100%;
    background-color: #eceff1;
    box-shadow: grey 0 -1px 8px;
    position:sticky;
    bottom:0;
}

.footer-container {
    padding-top:15px;
    padding-bottom: 15px;
    display: flex;
}

.footer-container p {
    font-weight: 400;
    margin-top: 0;
    margin-right: 20px;
}

.footer-container ul {
    margin-top: 0;
    margin-bottom: 0;
}

.footer-link-container {
    position: absolute;
    right: 0;
    height: 100%;
}

.footer-link {
  text-decoration: none;
  margin-right: 20px;
  color: #616161;
  line-height: 60px;
}

.footer-link:hover {
  color: cadetblue;
}

.name {
   /* Font-Family: 'Open Sans', Sans-Serif; */
   font-weight: 200;
   font-style: normal;
   font-size: 50px;
}

.description {
   /* Font-Family: 'Open Sans', Sans-Serif; */
   font-weight: 300;
   font-style: normal;
   font-size: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    justify-content: center;
}

li {
    list-style: none;
}

.box{
    display: flex;
    margin: 5px;
    height:200px;
    width: 200px;
    box-shadow: grey 1px 3px 5px;
    /* border-radius: 3px; */
}

.non-recyclable .box {
    background-color: #90a4ae;
}

.recyclable-1 .box {
    background-color: #fff59d;
}

.recyclable-2 .box {
    background-color: #a5d6a7;
}

.non-recyclable {
    display: contents;
}

.recyclable-1 {
    display: contents;
}

.recyclable-2 {
    display: contents;
}

.box1:hover {
   background-image: url("images/rose.jpeg");
}

.box2:hover {
   background-image: url("images/rose.jpeg");
}

.box3:hover {
   background-image: url("images/rose.jpeg");
}

.box4:hover {
   background-image: url("images/rose.jpeg");
}

.box5:hover {
   background-image: url("images/rose.jpeg");
}

.box6:hover {
   background-image: url("images/rose.jpeg");
}

.box7:hover {
   background-image: url("images/rose.jpeg")
}

.box8:hover {
   background-image: url("images/rose.jpeg");
}
